/**
  *
  *	Name:			IRANYekan Font
  *	Version:			3.3
  *	Author:			Moslem Ebrahimi (moslemebrahimi.com)
  *	Created on:		Sep 17, 2020
  *	Updated on:		Sep 17, 2020
  *	Website:			http://fontiran.com
  *	Copyright:		Commercial/Proprietary Software
  --------------------------------------------------------------------------------------
  فونت ایران یکان یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
  --------------------------------------------------------------------------------------
  IRANYekan fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
  --------------------------------------------------------------------------------------
  This set of fonts are used in this project under the license: (.....)
  --------------------------------------------------------------------------------------
  *	
  **/
@font-face {
  font-family: iranyekan;
  font-display: swap;
  font-style: normal;
  font-weight: bold;
  src: url("./fonts/IranYekan/eot/IRANYekanWebBold.eot");
  src: url("./fonts/IranYekan/eot/IRANYekanWebBold.eot?#iefix") format("embedded-opentype"),
    /* IE6-8 */ url("./fonts/IranYekan/woff/IRANYekanWebBold.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("./fonts/IranYekan/woff2/IRANYekanWebBold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./fonts/IranYekan/ttf/IRANYekanWebBold.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-display: swap;
  font-style: normal;
  font-weight: 100;
  src: url("./fonts/IranYekan/eot/IRANYekanWebThin.eot");
  src: url("./fonts/IranYekan/eot/IRANYekanWebThin.eot?#iefix") format("embedded-opentype"),
    /* IE6-8 */ url("./fonts/IranYekan/woff/IRANYekanWebThin.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("./fonts/IranYekan/woff2/IRANYekanWebThin.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./fonts/IranYekan/ttf/IRANYekanWebThin.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/IranYekan/eot/IRANYekanWebLight.eot");
  src: url("./fonts/IranYekan/eot/IRANYekanWebLight.eot?#iefix") format("embedded-opentype"),
    /* IE6-8 */ url("./fonts/IranYekan/woff/IRANYekanWebLight.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("./fonts/IranYekan/woff2/IRANYekanWebLight.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./fonts/IranYekan/ttf/IRANYekanWebLight.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/IranYekan/eot/IRANYekanWebRegular.eot");
  src: url("./fonts/IranYekan/eot/IRANYekanWebRegular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("./fonts/IranYekan/woff/IRANYekanWebRegular.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("./fonts/IranYekan/woff2/IRANYekanWebRegular.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./fonts/IranYekan/ttf/IRANYekanWebRegular.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/IranYekan/eot/IRANYekanWebMedium.eot");
  src: url("./fonts/IranYekan/eot/IRANYekanWebMedium.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("./fonts/IranYekan/woff/IRANYekanWebMedium.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("./fonts/IranYekan/woff2/IRANYekanWebMedium.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./fonts/IranYekan/ttf/IRANYekanWebMedium.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-display: swap;
  font-style: normal;
  font-weight: 800;
  src: url("./fonts/IranYekan/eot/IRANYekanWebBold.eot");
  src: url("./fonts/IranYekan/eot/IRANYekanWebExtraBold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("./fonts/IranYekan/woff/IRANYekanWebExtraBold.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("./fonts/IranYekan/woff2/IRANYekanWebExtraBold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./fonts/IranYekan/ttf/IRANYekanWebExtraBold.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-display: swap;
  font-style: normal;
  font-weight: 850;
  src: url("./fonts/IranYekan/eot/IRANYekanWebBlack.eot");
  src: url("./fonts/IranYekan/eot/IRANYekanWebBlack.eot") format("embedded-opentype"),
    /* IE6-8 */ url("./fonts/IranYekan/woff/IRANYekanWebBlack.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("./fonts/IranYekan/woff2/IRANYekanWebBlack.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./fonts/IranYekan/ttf/IRANYekanWebBlack.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-display: swap;
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/IranYekan/eot/IRANYekanWebExtraBlack.eot");
  src: url("./fonts/IranYekan/eot/IRANYekanWebExtraBlack.eot") format("embedded-opentype"),
    /* IE6-8 */ url("./fonts/IranYekan/woff/IRANYekanWebBlack.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("./fonts/IranYekan/woff2/IRANYekanWebExtraBlack.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./fonts/IranYekan/ttf/IRANYekanWebExtraBlack.ttf")
      format("truetype");
}
